body{background-color: #4412}
.edad{ color: lightslategrey;}
.nombre{color: lightslategray;}
.email { color: lightskyblue;}
.parrafo {color: darkslategrey;}
.fotoperfil { padding: 5px; margin: 10px; border: 2px solid black; width:250px ;}
.informaciondecontacto{margin: 20px auto ; border: 2px solid green;padding: 4px;border-style: double;}